@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --border-light: rgb(229, 231, 235);
}

body {
    font-family: 'Poppins', sans-serif;
    scrollbar-gutter: stable;
}


/* ==== ==== ==== Loading Main ==== ==== ==== */
.custom-loader {
    width:50px;
    height:50px;
    border-radius:50%;
    background:conic-gradient(#0000 10%,#1E293B);
    -webkit-mask:radial-gradient(farthest-side,#0000 calc(100% - 8px),#000 0);
    animation:s3 0.6s infinite linear;
}
.custom-loader-white {
    width:24px;
    height:24px;
    border-radius:50%;
    background:conic-gradient(#0000 10%,#FFF);
    -webkit-mask:radial-gradient(farthest-side,#0000 calc(100% - 4px),#000 0);
    animation:s3 0.6s infinite linear;
}
.custom-loader-black {
    border-radius:50%;
    background:conic-gradient(#0000 10%,#1a1a1a);
    -webkit-mask:radial-gradient(farthest-side,#0000 calc(100% - 3.5px),#000 0);
    animation:s3 0.6s infinite linear;
}
@keyframes s3 {to{transform: rotate(1turn)}}


/* ==== ==== ==== Loading Secondary ==== ==== ==== */
.custom-loader-secondary {
    display: grid;
    border-radius: 50%;
    -webkit-mask:radial-gradient(farthest-side,#0000 40%,#000 41%);
    background:
        linear-gradient(0deg ,#1e293b80 50%,#1e293bFF 0) center/2px 100%,
        linear-gradient(90deg,#1e293b40 50%,#1e293bBF 0) center/100% 2px;
    background-repeat: no-repeat;
    animation: ss3 1s infinite steps(12);
}
.custom-loader-secondary::before,
.custom-loader-secondary::after {
    content:"";
    grid-area: 1/1;
    border-radius: 50%;
    background:inherit;
    opacity: 0.915;
    transform: rotate(30deg);
}
.custom-loader-secondary::after {
    opacity: 0.83;
    transform: rotate(60deg);
}

@keyframes ss3 {
    100% {transform: rotate(1turn)}
}


/* ==== ==== ==== Custom Scroll ==== ==== ==== */
.custom-scroll::-webkit-scrollbar {
    -webkit-appearance: none;
}
  
.custom-scroll::-webkit-scrollbar:vertical {
    width:8px;
}

.custom-scroll::-webkit-scrollbar-button:increment,.custom-scroll::-webkit-scrollbar-button {
    display: none;
} 

.custom-scroll::-webkit-scrollbar:horizontal {
    height: 8px;
}

.custom-scroll::-webkit-scrollbar-thumb {
    background-color: #b4b4b4;
    border-radius: 20px;
    border: 2px solid #f1f2f3;
}

.custom-scroll::-webkit-scrollbar-track {
    border-radius: 8px;  
}
  

/* ==== ==== ==== Quill Editor ==== ==== ==== */
.editor-container {
    border: var(--border-light) 1px solid;
}

.ql-container.ql-snow {
    border: none;
    font-family: 'Poppins', sans-serif;
}
.ql-container.ql-snow .ql-editor {
    @apply custom-scroll;
}

.ql-toolbar.ql-snow {
    border: none;
    border-bottom: var(--border-light) 1px solid;
}

.ql-toolbar button svg {
    opacity: 0.8;
}

.ql-toolbar button.ql-clean {
    opacity: 0.8;
}

.ql-toolbar button.ql-clean svg {
    display: none;
}


/* ==== ==== ==== CODO - TOAST  ==== ==== ====*/

.ct-toast .ct-text-group-heading {
    margin-left: 1rem;
}

.ct-text-group-heading .ct-heading {
    font-size: 1rem;
    margin-bottom: 0;
}
